*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #53D8FB;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#countdown {
    font-size: 32px;
    font-weight: 600;
    font-family: Arial;
    padding: 12px 40px;
    background: #fff;
    letter-spacing: 1px;
    box-shadow: 0px 20px 25px rgba(0,0,0,0.3);
}